/*Header and images*/


.header
{
	
  height: 100%;
  background-image: url("Images/b2.jpg");
  background-position: center;
  background-size: cover;

}

.button {
  background-color: black;
  border: none;
  position: absolute;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button2 {
  background-color: white;
  border: none;
  color: black;
  position: absolute;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 905px;
  cursor: pointer;
}

#v3h{
	font-family: "Helvetica";
	font-size:42px; 
	position: absolute;
	bottom: 0px;
	top: 5350px;
	color:white;
	margin-bottom: 0px;
	margin-left: 600px;

}

#pt1{
	color: #99A3A4 ;
}

#h31{
	font-size:16px; 
}

#h32{
	font-size:25px; 
	margin-left: 20px;
}
.text-1{

	font-size:22px; 
	color:white;
	position: absolute;
	top: 200px;
	left: 400px;
	padding-right: 0px;
	font-family: "Helvetica";

}

.text-2 {

	font-size:16px; 
	color:white;
	position: relative;
	top: 330px;
	padding-right: 0px;
	position: absolute;
	left: 400px;
	font-family: "Helvetica";
	font-weight: 2;

}

.learn{

	background-color: black;
	color: white;
	position: relative;
	top: 350px;
	left: 390px;
	width:130px;
	border: 0;
	height: 40px;
}

#tt1{
		padding-left: 50px;
}

#tt2{
	background-color: #FFD700;
}

.section3{
	vertical-align: right;
}

#container{

	 max-width: 300px;
     margin: 0 auto;
     margin-top: 20vh;
}

.t1{
	font-size: 40px;
	position: relative;
	top: 30px;
	padding-left: 650px;
	font-family: "Helvetica";
}

.t2{
	font-family: "Helvetica";
	font-weight: 2;
	position: absolute;
	font-size: 25px;
	padding-left: 450px;
}

.v1{
	background-image: url("Images/v11.png");
	background-size: 100%;
	height: 700px;
}

.ft1{
	position: absolute;
	top: 5520px;
	left: 500px;
}

.ft2{
	position: absolute;
	top: 5580px;
	
}

.it1{
	width: 410px;
	height:48px;

}

#v1v{
	margin-left: 400px
}

#v1h{
	color: black;
	font-family: "Helvetica";

}

.v2{

  background-color:#F0F0F0;


	height: 900px;
}
.v3
{

    background-color: black;
	height: 400px;
}

#ni1{
	height: 400px;
	width: 1505px;
	position: relative;
}


.line1{
	width: 800px;
	border-top: 1px dotted red #DCDCDC	;
	
}

#h11{

	font-family : "Helvetica";
	font-size: 40px;
}

.i1	
{
	font-size: 15px;
	font-family: verdana;
	padding-left: 850px;
	padding-top: 10px;
	height: 220px;
}

.i2
{
	height: 100px;
}

.i3{
	width: 376px;	
}

.i4{
margin-left: 200px;
width: 600px;	
}


.zti
{
	height: 200px;
}

#zth5{
	color: #99A3A4 ;
}

.h4 {

	padding-left: 450px;
	padding-top: 20px;
}

.b1 {
  background-color: black; /* Green */
  width: 200px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.b11 {
  background-color: red; /* Green */
  width: 200px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*---------------blog----------------------*/

#blog{
	font-family: "Helvetica";
	font-size: 40px;
	text-align: center;
}

.button3{
	font-family: "Helvetica";
	width: 250px;
	height: 40px;
	background-color: black;
	color: white;
		border:none;
}

/*----------------------------Contact----------------------------*/

.section7{
	background-color: #1E2328;
	height: 650px;	
	width: 100%;
}

.s7f{

		margin-left: 400px;
}

#s7f1{
	color: white;
	font-family: "Helvetica";
	font-size: 40px;
}



.it2{
	width: 310px;
	height:40px;
}

#s7l{
	font-family: "Helvetica";
	color: white;
	text-align: left;
	font-size: 13px;

}

.map {
  height: 645px;
  width: 50%;
  position: absolute;
  left: 0px;
}

.cd{
	margin-left: 400px;
}

.button4{
	font-family: "Helvetica";
	width: 310px;
	height: 40px;
	background-color: #E70000;
	color: white;
	border:none;
}

.f2i{
	width: 30px;
}